<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Tenor+Sans&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="mask-icon" href="myIcons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Log ind</title>
</head>
<body>
<div id="frontpage"></div>

<div id="frontpage_content">
    <h1>Velkommen til Projektello</h1>
    <h2>Opret nye projekter og gør dit arbejde meget lettere</h2>

    <div th:if="${message}" class="fejl">
        <p th:text="${message}"></p>
    </div>

    <form name="login" action="/login" method="POST">

        <div class="container_logind">
            <label><b>Brugernavn</b></label>
            <br>
            <input type="text" placeholder="Indtast brugernavn" name="userName">
            <br>
            <label><b>Kodeord</b></label>
            <br>
            <input type="password" placeholder="Indtast kodeord" name="password">
            <br>
            <button class="btnlogin" style="width:auto;" type="button">Log ind</button>
        </div>
    </form>
</div>


<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>