<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Tenor+Sans&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="mask-icon" href="myIcons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Opret projekt</title>
</head>

<body>

<div th:replace="fragments/header.html :: header"></div>

<h1>Projekter</h1>


<div class="grid-container">
    <div class="grid-item">
        <button class="opret_projekt" type="submit">
            <h2>+</h2>
        </button>
    </div>

    <div class="grid-item">
        <h2>Projektnavn</h2>
    </div>
    <div class="grid-item">
        <h2>Projektnavn</h2>
    </div>

</div>


<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>
</body>

</html>
