<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Tenor+Sans&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Projekt</title>
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>

<div th:object="${project}">
    <div class="overskrift">
        <div id="element1">
            <h1 th:text="*{projectName}"></h1>
        </div>
        <div id="element2">
            <button class="btnopret" onclick="document.getElementById('id01').style.display='block'"></button>
        </div>
    </div>
    <div>
        <div>
            <h3>Total tidsforbrug for projekt: </h3>
            <h3 th:text="${projectTime}"></h3>
        </div>
    </div>


    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
              title="Close Modal">&times;</span>
        <div class="modal-content">

            <form name="changeProjectName" action="/changeProjectName" method="POST">

                <div class="container_edit_project_name">
                    <h2>Skift projektnavn</h2>

                    <label><b>Projektnavn</b></label>
                    <input type="text" placeholder="Indtast nyt projektnavn" name="projectName" required>

                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                class="cancelbtn">Tilbage
                        </button>
                        <button class="editbtn" type="submit">Gem</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<form th:action="@{/addSubProject}" method="post">
    <div>
        <input name="subprojectname" type="text" placeholder="Delprojekt navn">
        <button type="submit">Tilføj delprojekt</button>
    </div>
</form>
<form>
    <div class="empty" th:if="${subProjects.empty}">
        <p>Du har ikke oprettet nogen delprojekter endnu.</p>
    </div>

    <tr th:each="subProject:${subProjects}">
        <h2 th:text="${subProject.subProjectName}"></h2>
        <form th:action="@{/changeSubProjectName}" method="post">
            <div>
                <input type="text" name="subProjectName" placeholder="del opgave">
                <button type="submit">Skrift del project navn</button>
            </div>
        </form>
        <hr>
        <div>
            <form th:action="@{/deleteSubProject}" method="post">
                <button th:name="subprojectid" th:value="${subProject.subProjectID}" type="submit">X</button>
            </form>
        </div>
        <table style="width: 80%">
            <tr>
                <th>Opgave navn</th>
                <th>Tidsestimering (I antal timer)</th>
                <th>Deadline</th>
                <th>Deltager/Ansvaring</th>
                <th></th>
            </tr>
            <div class="center">
                <div th:if="${subProject.tasks.empty}">
                    <p>Der er ikke oprettet nogen opgaver endnu.</p>
                </div>
            </div>
            <form th:action="@{/projekt}" method="get">
                <tr th:each="task:${subProject.tasks}">
                    <th th:text="${task.taskName}"></th>
                    <th th:text="${task.timeEstimation}"></th>
                    <th th:text="${task.deadLine}"></th>
                    <th></th>
                    <th>
                        <button class="btnopret"
                                onclick="document.getElementById('id02').style.display='block'">
                        </button>
                        <div id="id02" class="modal">
                            <span onclick="document.getElementById('id02').style.display='none'" class="close"
                                  title="Close Modal">&times;</span>
                            <div class="modal-content">
                                <form name="editProject" action="/editProject" method="POST">

                                    <div class="container_edit_task">
                                        <h2>Rediger opgave</h2>

                                        <label><b>Opgave navn</b></label>
                                        <input type="text" placeholder="Indtast nyt opgave navn" name="taskName"
                                               required>
                                        <br>
                                        <label><b>Tidsestimering (i antal timer)</b></label>
                                        <input type="number" placeholder="Indtast tidsestimering" name="timeEstimate"
                                               required>
                                        <br>
                                        <label><b>Deadline</b></label>
                                        <input id="deadline" type="date"
                                               th:min="${#temporals.format(currentDate, 'yyyy-MM-dd')}" max="2100-01-01"
                                               name="deadline" required>
                                        <div class="clearfix">
                                            <button type="button"
                                                    onclick="document.getElementById('id02').style.display='none'"
                                                    class="cancelbtn">Tilbage
                                            </button>
                                            <button class="editbtn" type="submit">Gem</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <form th:action="@{/deleteTask}" method="post">
                            <button th:name="taskid" th:value="${task.taskId}" type="submit">Fjern opgave</button>
                        </form>
                    </th>
                </tr>
            </form>
        </table>
        <h3>Total tidsforbrug for delprojekt</h3>
        <h3 th:text="${subProject.calSubProjectTotalTime()}"></h3>
        <br>
        <form th:action="@{/addTask}" method="post">
            <div>
                <input name="taskname" type="text" placeholder="Opgavenavn">
                <button name="subprojectid" th:value="${subProject.subProjectID}" type="submit">Tilføj opgave
                </button>
            </div>
        </form>
        <br>
    </tr>
</form>
<br>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>
</body>
</html>