<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Tenor+Sans&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Projekt</title>
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>

<div th:object="${project}">
    <div>
        <h1 th:text="*{projectName}"></h1>
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;"><img
                src="/images/edit_button_picture" alt="rediger" width="19px" height="20px"></button>
        <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
              title="Close Modal">&times;</span>
            <div class="modal-content">

                <form name="changeProjectName" action="/changeProjectName" method="POST">

                    <div class="container_edit_project_name">
                        <h1>Skift projekt navn</h1>

                        <label><b>Projekt navn</b></label>
                        <input type="text" placeholder="Indtast nyt projekt navn" name="projectName" required>

                        <div class="clearfix">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                    class="cancelbtn">Fortryd
                            </button>
                            <button class="editbtn" type="submit">Skift projekt navn</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<form th:action="@{/addSubProject}" method="post">
    <div>
        <input name="subprojectname" type="text" placeholder="Delprojekt navn">
    </div>
    <br>
    <div>
        <button type="submit">Tilføj delprojekt</button>
    </div>
</form>
<form>
    <tr th:each="subProject:${subProjects}">
        <h2 th:text="${subProject.getSubProjectName()}"></h2>
        <form th:action="@{/changeSubProjectName}" method="post">
            <div>
                <input type="text" name="subProjectName" placeholder="del opgave">
            </div>
            <br>
            <div>
                <button type="submit">Skrift del project navn</button>
            </div>
        </form>
        <hr>
        <td>
            <table style="width: 80%">

                <tr>
                    <th>Opgave navn</th>
                    <th>Tidsestimering</th>
                    <th>Deadline</th>
                    <th>Deltager/Ansvaring</th>
                </tr>

                <form th:action="@{/getProjectTask}" method="post">
                    <tr th:each="task:${tasks}">
                        <td th:text="${task.tastName}"></td>
                        <td th:text="${task.timeEstimation}"></td>
                        <td th:text="${task.deadline}"></td>
                        <td>
                            <!--<button th:name="userid" th:value="${datingUser.ID}" type="submit" class="button1"> <img src="/images/trashcan.png" alt="trash" width="19px" height="20px"></button>-->
                        </td>
                    </tr>
                </form>
            </table>
            <br>
            <form th:action="@{/addTask}" method="post">
                <div>
                    <input type="text" name="opgave" placeholder="opgave navn">
                </div>
                <br>
                <div>
                    <button type="submit">Tilføj opgave</button>
                </div>
            </form>
            <br>
    </tr>
</form>

<div th:replace="fragments/footer.html :: footer"></div>


</body>
</html>