<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Tenor+Sans&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Projekt</title>
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>

<div th:object="${project}">
    <div class="overskrift">
        <div class="element1">
            <h1 th:text="*{projectName}"></h1>
        </div>
        <div class="element2">
            <button class="btnopret" onclick="document.getElementById('id01').style.display='block'"></button>
        </div>
    </div>

    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close"
              title="Close Modal">&times;</span>
        <div class="modal-content">

            <form name="changeProjectName" action="/changeProjectName" method="POST">

                <div class="container_edit_project_name">
                    <h2>Skift projektnavn</h2>

                    <label><b>Projektnavn</b></label>
                    <input type="text" placeholder="Indtast nyt projektnavn" name="projectName" required>

                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                class="cancelbtn">Tilbage
                        </button>
                        <button class="editbtn" type="submit">Gem</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table style="width:80%">
        <tr>
            <th>Startdato</th>
            <th>Slutdato</th>
            <th>Forventet antal arbejdstimer pr. dag</th>
            <th>Total tidsforbrug for projekt (I antal timer)</th>
        </tr>
        <tr>
            <td th:text="${project.expStartDate}"></td>
            <td th:text="${project.expEndDate}"></td>
            <td th:text="${workHoursPerDay}"></td>
            <td th:text="${projectTime}"></td>
        </tr>
    </table>
</div>


<form th:action="@{/addSubProject}" method="post">
    <div>
        <input name="subprojectname" type="text" placeholder="Delprojektnavn">
        <button type="submit">Tilføj delprojekt</button>
    </div>
</form>
<div class="center">
    <div th:if="${subProjects.empty}">
        <p>Du har ikke oprettet nogen delprojekter endnu.</p>
    </div>
</div>
<tr th:each="subProject:${subProjects}">

    <table style="width: 80%">

        <caption>
            <div id="subproject" class="overskrift">
                <div class="element1">
                    <h2>Delprojekt: </h2>
                </div>
                <div class="element2">
                    <h2 th:text="${subProject.subProjectName}"></h2>
                </div>
                <div class="element2">
                    <button class="btnopret" onclick="document.getElementById('id03').style.display='block'"></button>
                </div>
            </div>

            <div id="id03" class="modal">
        <span onclick="document.getElementById('id03').style.display='none'" class="close"
              title="Close Modal">&times;</span>
                <div class="modal-content">

                    <form name="changeSubProjectName" action="/changeSubProjectName" method="POST">

                        <div class="container_edit_subproject_name">
                            <h2>Skift delprojekt navn</h2>

                            <label><b>Delprojekt</b></label>
                            <input type="text" placeholder="Indtast nyt delprojekt navn" name="subProjectName" required>

                            <div class="clearfix">
                                <button type="button" onclick="document.getElementById('id03').style.display='none'"
                                        class="cancelbtn">Tilbage
                                </button>
                                <button th:name="subprojectid" th:value="${subProject.subProjectID}" class="editbtn"
                                        type="submit">Gem
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <hr class="subproject_hr">
        </caption>


        <tr>
            <th>Opgavenavn</th>
            <th>Tidsestimering (I antal timer)</th>
            <th>Deadline</th>
            <th>Deltager/Ansvarlig</th>
            <th></th>
            <th></th>
        </tr>
        <div class="center">
            <div th:if="${subProject.tasks.empty}">
                <p>Der er ikke oprettet nogen opgaver endnu.</p>
            </div>
        </div>
        <tr th:each="task:${subProject.tasks}">
            <td>
                <span class="line" th:if="${task.taskStatus == 0}" th:text="${task.taskName}"></span>
                <span th:unless="${task.taskStatus == 0}" th:text="${task.taskName}"></span>
            </td>
            <td>
                <span class="line" th:if="${task.taskStatus == 0}" th:text="${task.timeEstimation}"></span>
                <span th:unless="${task.taskStatus == 0}" th:text="${task.timeEstimation}"></span>
            </td>
            <td>
                <span class="line" th:if="${task.taskStatus == 0}" th:text="${task.deadLine}"></span>
                <span th:unless="${task.taskStatus == 0}" th:text="${task.deadLine}"></span>
            </td>
            <td></td>
            <td>
                <form th:action="@{/setTaskstatus}" method="post">
                <div th:switch="${task.taskStatus}">
                        <button class="button2" th:case="0" type="submit" th:name="taskid" th:value="${task.taskId}">færdig</button>
                        <button class="button1" th:case="1" type="submit" th:name="taskid" th:value="${task.taskId}">igang</button>
                        <button class="button0" th:case="2" type="submit" th:name="taskid" th:value="${task.taskId}">Ikke igang</button>
                </div>
                </form>
            </td>
            <td>
            <div id="knapper">
                <button class="btnopret"
                        onclick="document.getElementById('id02').style.display='block'">
                </button>
                <div id="id02" class="modal">
                            <span onclick="document.getElementById('id02').style.display='none'" class="close"
                                  title="Close Modal">&times;</span>
                    <div class="modal-content">
                        <form name="editProject" action="/editProject" method="POST">

                            <div class="container_edit_task">
                                <h2>Rediger opgave</h2>

                                <label><b>Opgavenavn</b></label>
                                <input type="text" placeholder="Indtast nyt opgave navn" name="taskName"
                                       >
                                <br>
                                <label><b>Tidsestimering (i antal timer)</b></label>
                                <input type="number" placeholder="Indtast tidsestimering" name="timeEstimate"
                                       >
                                <br>
                                <label><b>Deadline</b></label>
                                <input id="deadline" type="date"
                                       th:min="${#temporals.format(currentDate, 'yyyy-MM-dd')}" max="2100-01-01"
                                       name="deadline">
                                <div class="clearfix">
                                    <button type="button"
                                            onclick="document.getElementById('id02').style.display='none'"
                                            class="cancelbtn">Tilbage
                                    </button>
                                    <button th:name="taskid" th:value="${task.taskId}" class="editbtn"
                                            type="submit">Gem
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <form th:action="@{/deleteTask}" method="post">
                    <button class="btn_delete" th:name="taskid" th:value="${task.taskId}"
                            type="submit"></button>
                </form>
            </div>
            </td>
        </tr>

        <th>
            <form th:action="@{/addTask}" method="post">
                <div>
                    <input name="taskname" type="text" placeholder="Opgavenavn">
                    <button name="subprojectid" th:value="${subProject.subProjectID}" type="submit">Tilføj
                        opgave
                    </button>
                </div>
            </form>
        </th>
        <th>
            <div class="element1">
                <p>Total: </p>
            </div>
            <div class="element2">
                <p th:text="${subProject.calSubProjectTotalTime()}"></p>
            </div>
            <br>
        </th>
    </table>
    <div id="delete_subproject">
        <form th:action="@{/deleteSubProject}" method="post">
            <button class="delete_subproject" th:name="subprojectid" th:value="${subProject.subProjectID}"
                    type="submit">Slet
            </button>
        </form>
    </div>
</tr>
<br>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>
</body>
</html>