<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Tenor+Sans&display=swap" rel="stylesheet">
    <th:block th:include="fragments/footer.html :: footerfiles"></th:block>
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Tidsforbrug</title>
</head>
<body>

<div th:replace="fragments/header.html :: header"></div>
<br>
<br>
<br>
<div>
    <div class="overskrift">
        <h1>Tidsforbrug</h1>
    </div>
</div>
<hr>

<table style="width:80%">
    <tr>
        <th>Projekt navn</th>
        <th>Egne antal timer brugt</th>
        <th>Total antal timer brugt</th>
    </tr>
    <tr th:each="project:${projects}">
        <td>
            <p th:text="${project.projectName}"></p>
        </td>
        <td>
            <p th:text="${project.calUserWorkHoursOnProject(userid)}"></p>
        </td>
        <td>
            <p th:text="${project.calProjectTotalTime()}"></p>
        </td>
    </tr>
</table>

<div th:replace="fragments/footer.html :: footer"></div>

<script src="script.js"></script>

</body>
</html>