* {
    box-sizing: border-box;
    font-family: 'Tenor Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    padding-top: 9.5vw;
    text-align: center;
    font-size: 32px;
    color: #525050;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #525050;
}

h4 {
    margin-left: 5vw;
    width: 8px;
    color: #3b3838;
}

p .center {
    text-align: center;
}

#subproject {
    margin-top: 5vw;
}

/*-------Navigation-------*/
header {
    width: 100%;
    background-color: #66b0ce;
    /* Primary color */
    background-image: linear-gradient(140deg, transparent 65%, #5193af 0%);
    z-index: 5;
    top: 0;
    position: fixed;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    z-index: 3;
    margin-left: 1vw;
}

.topnav a:first-child {
    font-family: 'Galada', cursive;
    font-size: 30px;
    margin: 2vw;
}

.topnav {
    overflow: hidden;
    width: 100%;
}

.topnav a:not(:first-child):hover {
    text-decoration: underline;
    opacity: 0.7;
}

.topnav .icon {
    display: none;
}


/*-------Navigation slut-------*/

/*-------Table-----*/
table {
    width: 90%;
    text-align: left;
    padding: 8px;
    margin-left: 8vw;
    border-collapse: collapse;
    height: auto;
    margin-bottom: 1vw;
    color: #525050;
}

td,
th {
    border-bottom: 1px solid #525050;
    text-align: left;
    padding: 8px;
    width: 8px;
}

tr {
    font-weight: normal;
}

tr:nth-child(even) {
    background-color: #d8e6ec;
}

.subproject_hr {
    width: 100%;
}

.element1 {
    display: inline-block;
    margin-right: 10px;
}

.element2 {
    display: inline-block;
}

/*------Log ind------*/
#frontpage {
    background-image: url("/images/background.jpg");
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(3px);
}

/* Position text in the middle of the page/image */
#frontpage_content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    padding: 20px;
    text-align: center;
    height: 100%;
    margin: 2vw;
}

#frontpage_content h1,
#frontpage_content h2 {
    text-shadow: 2px 2px 8px rgba(7, 7, 7, 0.44);
    color: white;
    padding-top: 0px;
}


.container_logind input[type=text],
.container_logind input[type=password] {
    width: 30vw;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/*-------Button-----*/
.button1 {
    background-color: rgb(71, 188, 117);
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.button2 {
    background-color: #a94242;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.button0 {
    background-color: #525050;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btnlogin {
    text-align: center;
    background-color: #66b0ce;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 15%;
    border: none;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

.line {
    text-decoration: line-through;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.container_logind {
    padding: 16px;
    display: inline-block;
    justify-content: space-between;
}


/*------Opret projekt side-----*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 4vw 8vw 6vw 12vw;
    grid-gap: 1vw;

}

.grid-item,
.opret_projekt {
    background-color: rgba(255, 255, 255, 0.5);
    height: 15vw;
    width: 20vw;
    font-size: 20px;
    text-align: center;
    box-shadow: 1px 4px 9px 0 rgba(0, 0, 0, 0.07);
    position: relative;
    border: inherit;
    cursor: pointer;
}

.grid-item h2,
.grid-item .opret_projekt {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-item:hover {
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}

#delete_project button {
    position: absolute;
    text-align: right;
    z-index: 5;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: #525050;
    cursor: pointer;
    margin: 0.2vw;
}

/*-------Rediger knap-------*/

.overskrift {
    display: block;
    text-align: center;
}

.btnopret {
    background-image: url("/images/edit_button_picture.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    background-color: inherit;
    z-index: 2;
    cursor: pointer;
    filter: contrast(40%);
}

/* Full-width input fields */
.container_edit_project_name input[type=text] {
    width: 40%;
    padding: 12px;
    margin: 1vw;
    display: inline-block;
    border: none;
    border-radius: 5%;
    background: #f1f1f1;
}

.editbtn,
.cancelbtn {
    text-align: center;
    background-color: transparent;
    padding: 14px 20px;
    margin: 20px;
    cursor: pointer;
    width: 18%;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    color: #525050;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 4;
    /* Sit on top */
    left: 20%;
    right: 10%;
    top: 20%;
    width: 60%;
    /* Full width */
    overflow: auto;
    /* Full height */
    background-color: white;
    box-shadow: 1px 4px 9px 0 rgba(0, 0, 0, 0.07);

}

/* Add padding to container elements */
.container_edit_project_name {
    color: #525050;
    padding: 16px;
    text-align: center;
}

.container_edit_project_name label {
    color: #525050;
}

.container_edit_project_name p {
    color: #525050;
    text-align: center;
    font-style: italic;
}

.container_edit_subproject_name {
    color: #525050;
    padding: 16px;
    text-align: center;
}

.container_edit_subproject_name label {
    color: #525050;
}

.container_edit_subproject_name p {
    color: #525050;
    text-align: center;
    font-style: italic;
}

.container_edit_task {
    color: #525050;
    padding: 16px;
    text-align: center;
}

.container_edit_task label {
    color: #525050;
}

.container_edit_task p {
    color: #525050;
    text-align: center;
    font-style: italic;
}

.clearfix {
    text-align: center;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #b75851;
}

/* Extra styles for the edit button */
.editbtn {
    padding: 14px 20px;
    background-color: #477d92;
}

#delete_subproject {
    text-align: center;

}

.delete_subproject {
    padding: 8px 15px;
    background-color: #b75851;
    margin: 2vw;
    cursor: pointer;
    width: 6%;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #525050;
}

.close:hover,
.close:focus {
    opacity: 0.7;
    cursor: pointer;
}

#knapper {
    display: flex;
    justify-content: space-around;
}

.btn_delete {
    background-image: url("/images/trashcan.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    border: none;
    background-color: inherit;
    z-index: 2;
    cursor: pointer;
}

.btn_delete:hover {
    cursor: pointer;
    opacity: 0.7;
}

/*-------Footer-------*/
hr {
    width: 85%;
    border-bottom: inherit;
    border-left: inherit;
    border-right: inherit;
    border-top: 1.4px solid grey;
    margin-bottom: 2vw;
}

footer {
    margin-top: 8vw;
    width: 100%;
    background-color: inherit;
    color: #525050;
    bottom: 0;
    padding-top: 1vw;
}

#footer_info {
    flex-wrap: wrap;
    display: flex;
    justify-content: start;
    position: relative;
    font-size: 12px;
}

footer a {
    color: #525050;
    font-size: 13px;
}

.kontakt {
    flex-basis: 200px;
    margin-left: 1vw;
    margin-right: 1vw;
}


a.fa-facebook,
a.fa-twitter {
    color: #525050;
    text-decoration: none;
    font-size: 5vw;
    height: 2vw;
    width: 2vw;
}

a.fa-twitter {
    margin-left: 4vw;
}

a.fa-facebook:before,
a.fa-twitter:before {
    color: #525050;
}

.fa {
    text-align: center;
}

.fa:hover {
    opacity: 0.6;
}

.copyright p {
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;
    font-size: 11px;
    margin: 0;
    padding: 2vw;
}

/*-------Footer slut-----*/


/*-------Media queries-------*/

@media screen and (max-width: 700px) {
    h1 {
        padding-top: 15vw;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a:first-child {
        float: left;
    }

    .topnav a.icon {
        float: right;
        display: block;
        font-size: 23px;
        margin: 2vw;
    }

    .topnav.responsive {
        position: fixed;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        margin-bottom: 2vw;
        line-height: 45px;
    }

    .topnav a:first-child {
        text-align: left;
    }

    .container_logind input[type=text],
    .container_logind input[type=password] {
        width: 60vw;
    }

    footer {
        margin-top: 30vw;
    }

    #footer_info {
        justify-content: space-around;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        margin: 8vw 6vw 8vw 6vw;
        grid-gap: 8vw;
    }

    .grid-item,
    .opret_projekt {
        height: 35vw;
        width: 100%;
    }

}


/*-------Desktop skærme-----*/


@media screen and (min-width: 700px) {
    .topnav a:first-child {
        margin: 0.5vw;
        margin-right: 2vw;
        margin: 1vw;
    }

    .topnav a:not(:first-child) {
        margin-top: 1vw;
        position: relative;
        float: left;
        padding: 1vw;
        padding-right: 4vw;
        margin-left: 2vw;
    }

    .topnav a:not(:first-child):nth-child(-n+3) {
        border-right: solid 1.5px white;
    }

    .kontakt {
        margin-left: 3vw;
        flex-basis: 200px;
    }

    a.fa-facebook,
    a.fa-twitter {
        font-size: 2vw;
        height: 1vw;
        width: 1vw;
        margin: 0;
    }

    a.fa-twitter {
        margin-left: 2vw;
    }

    footer a {
        font-size: 12px;
    }

    footer p {
        font-size: 12px;
    }
}
