<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="footerfiles">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet">
</head>
<body>

<footer th:fragment="footer">
    <hr>
    <div id="footer_info">

        <div class="kontakt">
            <p><b>Email - Kontakt os her for hjælp</b></p>
            <a href="mailto:purpledating@mail.dk">projektello@mail.dk</a>
        </div>

        <div class="kontakt">
            <p><b>Følg os</b></p>
            <a aria-label="facebook" class="fa fa-facebook"></a>
            <a aria-label="twitter" class="fa fa-twitter"></a>

        </div>
    </div>
    <div class="copyright">
        <p> © Copyright 2020 - All Rights Reserved ❘ Designed by Nicolai, Phuc & Maja</p>
    </div>
</footer>

</body>
</html>